!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title Bootstrap, from Twitter
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    / Le styles
    %link{:href => "/css/bootstrap.css", :rel => "stylesheet"}/
    :css
      body {
        padding-top: 60px;
      }
        / Le fav and touch icons
    %link{:href => "images/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "images/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    %link{:href => "images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
  %body
    .topbar
      .fill
        .container
          %a.brand{:href => "#"} Twitter Bootstrap Examples in Haml
          %ul.nav
            %li.active
              %a{:href => "/"} Home
            %li
              %a{:href => "/fluid"} Fluid
            %li
              %a{:href => "/hero"} Hero
            %li
              %a{:href => "/container-app"} Container App
            %li
              %a{:href => "/starter-template"} Starter Template